<% namespace view %>
<% class history uses data::history extends master %>
<% template title() %><% gt "WikiPP :: History" %> :: <% title %><% end %>
<% template main() %>
<p><a href="<% page_link %>"><% gt "Back to page" %></a></p>
<% foreach row in hist %>
	<ul>
	<% item %>
	<li>
		<% gt "Version %1%, changed at %2%" using row.version, row.update %>,
		<a href="<% row.show_url %>"><% gt "Show" %></a>,
		<a href="<% row.edit_url %>"><% gt "Edit (rollback)" %></a>
	</li>
	<% end %>
<% empty %>
<h2><% gt "History is empty" %></h2>
<% end %>
<% if not empty page %><p><a href="<% page %>"><% gt "Next page" %></a></p><% end %>
<% end template %>
<% end class %>
<% end namespace %>
