<% c++ #include "../data.h" %>
<% namespace view %>
<% class master uses data::master %>
<% template title() %><% gt "Wellcome to WikiPP" %><% end %>
<% template navigation() %>
<a href="<% login_link %>"><span id="loginout"></span></a>
&nbsp;/&nbsp;
<a href="#"><% gt" Users Area" %></a>
<% end template %>
<% template navbar() %>
<% foreach l in languages %>
<h2><% gt "Languages:" %></h2>
<ul>
<% item %><li><a href="<% l.second %>"><% l.first %></a></li><% end %>
</ul>
<% end %>
<% end template %>
<% template main() %><% end %>
<% template wiki_title() %><% gt "Wiki++ &mdash; CppCMS Wiki" %><% end %>
<% template sidebar() %><% end %>
<% template render() %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><% include title() %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="<% media %>/style.css" rel="stylesheet" type="text/css" />
	<link href="<% media %>/style-<% if rtl %>rtl<% else %>ltr<%end%>.css" rel="stylesheet" type="text/css" />
</head>
<body onload="loginout()">
	<script type="text/javascript">
	<!--
                function get_cookie(c_name)
                {
                	c_name='<% cookie_prefix %>' + c_name; 
                        if (document.cookie.length>0){
                                c_start=document.cookie.indexOf(c_name + "=");
                                if (c_start!=-1){ 
                                        c_start=c_start + c_name.length+1; 
                                        c_end=document.cookie.indexOf(";",c_start);
                                        if (c_end==-1) c_end=document.cookie.length;
                                                return unescape(document.cookie.substring(c_start,c_end));
                                } 
                        }
                        return "";
                }
		function loginout(){
			var element=document.getElementById('loginout');
			var username=get_cookie('username');
			if(username=='')  {
				element.innerHTML='<% gt "Login" %>';
			}
			else {
				element.innerHTML='<% gt "Logout " %>('+username+')';
			}
		}
		-->
	</script>
<div id="page" >
	<div id="header">
		<h1 id="title"><% include wiki_title() %></h1>
	</div>
	<div id="path"><% include navigation()%></div>
	<div id="maincontent">
		<h1><% include title() %></h1>
		<% include main() %>
	</div>
	<div id="sidecontent">
		<% include sidebar() %>
		<% include navbar() %>
		<hr/>
		<p>Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> 
		| Valid <a href="http://validator.w3.org/check?uri=referer">XHTML 1.0</a>
		</p>
	</div>
	<div id="footer">
	<div id="copyrightdesign">
	<% gt "The content of this Wiki Availible under GFDL" %> | <% gt "Template design based on <a href=\"http://ContentedDesigns.com\">Contented Designs</a>" %>
	</div>
	<div id="footercontact">
	<a href="#">Contact</a>
	</div>
</div>
</body>
<% end template %>
<% end class %>
<% end namespace %>
