<% c++ #include "../data.h" %>
<% namespace view %>
<% class master uses data::master %>
<% template title() %><% gt "Wellcome to WikiPP" %><% end %>
<% template page_title() %><h1><% include title() %></h1><% end %>
<% template navbar() %><% end %>
<% template main() %><% end %>
<% template render() %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title><% include title() %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="<% media %>/style.css" rel="stylesheet" type="text/css" />
	</head>
<body>
<div id="page" >
	<div id="navbar">
		<% include navbar() %>
	</div>
	<div id="main">
		<div id="title">
			<% include page_title() %>
		</div>
		<div id="content">
			<% include main() %>
		</div>
	</div>
</div>
</body>
<% end template %>
<% end class %>
<% end namespace %>
