<% namespace view %>
<% class page uses data::page extends master %>
<% template sidebar() %>
	<% if not empty sidebar %>
	<h2><% gt "This page in other languages:" %></h2>
	<div id="navbar_links" >
		<% sidebar | ext markdown %>
	</div>
	<hr/>
	<% end %>
<% end %>
<% template title() %><% title %><% end %>
<% template navigation() %>
<% if not empty edit_link %>
<a href="<% edit_link %>"><% gt "Edit" %></a>
&nbsp;/&nbsp;
<a href="<% history_link %>"><% gt "History" %></a>
&nbsp;/&nbsp;
<% end %>
<% include master::navigation() %>
<% end template %>
<% template main() %>
<% content | ext markdown %>
<% end %>
<% end class %>
<% class edit_page uses data::edit_page extends page %>
<% template title() %><% if new_page %><% gt "New Article" %><% else %><% gt "Edit" %><% if not empty title %>:<% title %><% end %><% end %><% end %>
<% template navigation() %>
<% if not empty edit_link %>
<a href="<% back %>"><% gt "Back to page" %></a>
&nbsp;/&nbsp;
<a href="<% history_link %>"><% gt "History" %></a>
&nbsp;/&nbsp;
<% end %>
<% include master::navigation() %>
<% end template %>
<% template main() %>
<% if not empty title %>
	<% include page::main() %>
<% end %>
	<form action="" method="post" >
	<table>
	<% form as_table form.fields %>
	</table>
	<p><% form as_space form.buttons %></p>
	</form>
<% end template %>
<% end class %>
<% class page_hist uses data::page_hist extends page %>
<% template title() %>
<% include page::title() %> 
<% end template %>
<% template navigation() %>
	<a href="<% rollback %>"><% gt "Edit this version (rollback)" %></a>
	&nbsp;/&nbsp;
	<% include page::navigation() %>
<% end template %>
<% template main() %>
<div class="published"><% gt "(version %1%, from %2%)" using version, date %></div>
<% include page::main() %>
<% end template %>
<% end class %>
<% end namespace %>
