<% namespace view %>
<% class page uses data::page extends master %>
<% template navbar() %>
	<% include master::navbar() %>
	<% if not empty sidebar %>
	<hr/>
	<h2><% gt "This plage in other languages:" %></h2>
	<div id="navbar_links" >
		<% sidebar | ext markdown %>
	</div>
	<% end %>
<% end %>
<% template title() %><% title %><% end %>
<% template page_title() %>
<% include master::page_title() %> 
<% if not empty edit_link %>
	<ul class="nav">
		<li><a href="<% edit_link %>"><% gt "edit" %></a></li>
		<li><a href="<% history_link %>"><% gt "history" %></a></li>
	</ul>
<% end %>
<% end template %>
<% template main() %>
<% content | ext markdown %>
<% end %>
<% end class %>
<% class edit_page uses data::edit_page extends page %>
<% template title() %><% if new_page %><% gt "New Article" %><% else %><% gt "Edit" %><% if not empty title %>:<% title %><% end %><% end %><% end %>
<% template main() %>
<% if not empty title %>
	<div id="preview"><% include page::main() %></div>
<% end %>
	<form action="" method="post" >
	<table>
	<% form as_table form.fields %>
	</table>
	<p><% form as_space form.buttons %></p>
	</form>
<% end template %>
<% end class %>
<% class page_hist uses data::page_hist extends page %>
<% template title() %>
<% include page::title() %> <p><% gt "(version %1%, from %2%)" using version, date %></p>
<% end template %>
<% template main() %>
<p><a href="<% rollback %>"><% gt "Edit this version (rollback)" %></a></p>
<% include page::main() %>
<% end template %>
<% end class %>
<% end namespace %>
